p {text-align: center; font-size: 20 px; background:  #142d9c;}
h1{ font-size: 50 px; font-align: center;}{border: 10 px; paddyng: 20 px; text-align: center;}
body{background:rgb(219, 36, 36);}
#imagem1{width: 100}