p {text-align: center; font-size: 20 px; background:  #8299ff;}
h1{ font-size: 50 px; font-align: center;}{border: 10 px; paddyng: 20 px; text-align: center;}
body{background:rgb(255, 255, 255);}
#imagem1{width: 100}
.itens{ font-style: italic; }